.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.hero  .hero-button {
    border: none;
    color: #fff;
    background-color: #2AA7FF;
    border-radius:10px ;
    font-weight: 500;
    font-size: 17px;
    padding: 15px;
}