@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   padding-top: 10px;
}

.logo{
    display: flex;
    align-items: center;
    color: #2AA7FF;
}
.icon{
    font-size: 40px;
}


.text{
    font-family: "Hind", sans-serif;
    font-weight: 700;
    /* font-size: 25px; */
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul > li{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 10px;
}

nav ul  .list-size{
font-size: 20px;
font-weight: 500;
}

nav ul .list-button{
    padding: 10px;
    
    border: none;
    color: #fff;
    background-color: #2AA7FF;
    border-radius:10px ;
    font-weight: 500;
    font-size: 17px;
}

.menu{
    display: none;
    position: absolute;
    
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #2AA7FF   ;
    border-radius: 0.2rem;
}

@media (max-width :650px) {
    .menu {
        display: flex;
        flex-wrap: nowrap;
       
    }
    nav{
        flex-direction: column;

    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 0.25rem;
    }
    .open{
        display: flex;
    }
    nav ul li {
        width: 100%;
        text-align: center;
        margin-top: 10px ;
    }


}